<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>253773460241-fqtk2jnls7dqgtli3esngm2ct2ftr51t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253773460241-fqtk2jnls7dqgtli3esngm2ct2ftr51t</string>
	<key>API_KEY</key>
	<string>AIzaSyB7XofHpu88mS4SFrQ8Hpv-wIg-jggQzys</string>
	<key>GCM_SENDER_ID</key>
	<string>253773460241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShowRescueService.SRS-community</string>
	<key>PROJECT_ID</key>
	<string>srs-community</string>
	<key>STORAGE_BUCKET</key>
	<string>srs-community.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:253773460241:ios:75ed34524d91a69f</string>
	<key>DATABASE_URL</key>
	<string>https://srs-community.firebaseio.com</string>
</dict>
</plist>